body {
    font-family: Arial, Verdana, sans-serif;
    margin: 0px;
}

#root {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gameboard {
    width: 90vw;
    height: 90vw;

    margin: 0 auto;
}